.sliderProduct{
 width:100%;
 margin: 0 auto ;
  .container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:50px;
    .title{
      margin:20px 0;
    }
    .line {
      width: 70px;
      height: 0;
      border: 1px solid var(--primary-color);
      margin: 3px;
      display:inline-block;
    }
    .sub-title{
      margin:20px 0;
    }
  }
  .products{
    position: relative; 
    .arrow{
      position: absolute;
      top:0;
      bottom:0;
      margin:auto;
      border-radius: 50%;
      background-color: black;
      font-size: 3.5rem;
      padding: 10px;
      color:white;
      z-index: 999;
      cursor: pointer;
      &.left{
        left:0;
      };
      &.right{
        right:0;
      }
    }
    .productid{
      display: flex;
      transform:translateX(0px);
      transition:var(--banner-transition);
   
    }
  }
}
