.shops-nav{
  background-color: var(--banner-color); 
   margin-bottom: 30px;
  padding:10px 0;
  display: flex;
  padding: 20px;
  font-size: 17px;
 .grids{
  flex: 1;  
  .icon{
    font-size: 28px; 
    &.active{
    color:var(--primary-color);
    }
  } 
 }
 p{
  flex:2;
  color:var(--text-color);

 }
 .sort{
  display: flex;
  gap:10px;
  flex:2;
  justify-content: flex-end;
  align-items: center;
  select{
    font-size: 17px; 
    padding: 5px;
    border:0;
    outline:0;
    color:var(--text-color);
    option{
      border:0;
      outline:0;
    }    
  }   
 }
}