  .home-container{
    // width:80%;
    // max-width: 80%;
    margin: 0 auto;
    // overflow: hidden;      
    .line{     
      border: 1px solid #E5E5E5;   
      display:block;
      margin-bottom: -3px;              
    }
  }