.brandSlider{
  width:85%; 
  max-width:85%; 
  margin:50px auto; 
  position:relative;
  &:hover{
    .arrow{
      opacity: 1;
    }
   }
   .arrow{
      position: absolute;
      top:0;
      bottom:0;
      margin:auto;
      border-radius: 50%;
      background-color: black;
      font-size: 3.5rem;
      padding: 10px;
      color:white;
      z-index: 999;    
      opacity: 0;
      transition:var(--banner-transition);
      cursor: pointer;
      &.left{
        left:0;       
      };
      &.right{
        right:0;
      }
    }
  .brand-wrapper{
     overflow: hidden;   
    .brand-container{     
      margin-left: 60px;
      display:flex;  
      align-items: center;    
      width:max-content; 
      transform:translateX(0px);
      transition:var(--banner-transition);

     .brand{     
      width:195px;
      height:70px;      
      margin-right: 5px;
      img{        
        object-fit:cover;
      }
     }
      }
    }
}