.navbar{
  width:100%;
  padding: 10px 0;
  position: relative;
  // background-color: aqua;
  .container{
    width:90%;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      cursor: pointer;
    }
    .menu ul{
      display: flex;
      align-items: center;
      font-weight: 400;

      li{
        margin-left: 20px;
        list-style: none;
        cursor: pointer;
        transition: 0.5s all ease;
        &:hover{
          color:var(--primary-color);
        }
      }
      a{
        text-decoration: none;
      }
      
    }
    .icons{   
      cursor: pointer;
      //  font-size: 18px;
      display: flex;
      align-items: center;
      .numbered{
        position: relative;    
        // padding-left: 10px;      
        .total{
          background-color: var(--primary-color);
          border-radius: 50%;
          padding: 2px 6px;
          color:white;
          font-size: 10px;
          position:absolute;
          top:-10px;
          right:-10px;
        }
       }
      .icon{
        // margin-left: 20px;
        transition: 0.5s all ease;
        display: flex;
        align-items: baseline;

        &:hover{
          color:var(--primary-color);
        }
      }
      
    }
  }
}