.products{
 width: 80%;
  margin: 80px auto;
  display: flex;
  gap:30px;
  .left{    
    flex:1;
    h3{
      font-weight: 600;      
    }
    .line {
      margin:20px 0 20px 0;
      border-bottom: 1px solid #E5E5E5;
      &:after {
      content: '';
      display: block;
      border-bottom: 2.5px solid var(--primary-color);
      margin-top: -1.25px;
      max-width: 100px;
    }
    } 
    .container{
      margin-bottom: 20px;
    .accordion{
      margin:10px 0 ;
      .name{
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
        font-size: 17px;
        cursor: pointer;
        .title{
          color:black;
          &.active, &:hover{
            color:var(--primary-color)
          }
        }
      }
      ul{ 
        list-style: none;
         padding: 0;
         padding-left:20px;
         text-transform: capitalize;
        &.tab{       
          display:none;
        &.active{
           display: block;
          }        
         }         
        }
    }
  }
    h4{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
    ul{        
      display: flex;  
      flex-direction: column;            
      list-style: none;       
      padding: 0;
      gap:10px;
      margin: 20px 0;  
      
      &.tags{
        .tags{ 
        display: flex;
        gap:10px;
        flex-wrap: wrap;
        }     
      }
      li{
        display: flex;   
        font-size: 17px;   
        margin: 0;
        text-transform: capitalize;
        input[type=checkbox]{
          opacity: 0;
        }
        .checkbox{
          border: 1px solid #e5e5e5e5;
          width:20px;
          height:20px;  
        }        
        label{
          padding-left: 10px;
        }        
        &.tag{         
            border: 1px solid #e5e5e5e5;
            padding:10px 30px;
           width:max-content;
        }
      }    
    }
    
  }
  .right{
    flex:2;
    
    .productid{      
      display: flex;     
      align-items:center;
      justify-content:left;
       flex-wrap: wrap;
      gap:40px;
    }
  }
  
}