@import './components/mylist/mylist.scss';

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif; 
}

:root{
  --main-color:#f8f8f8f8;
  --banner-color:#f6f6f6;
  --text-color:#565656;
  --primary-color: #5a5ac9;
  --transition: 0.2s all ease;
}

